#board{
  border-radius: 10px;
  width: 600px;
  height: 600px;
  border: solid black 2px;
  margin: auto;
  background-color: aliceblue;
}
.column {
  margin-top: 25px;
  margin-left: 35px;
  background-color: lightgrey;
  width: 150px;
  height: 150px;
  font-size: 100px;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.column:hover{
  background-color: grey;

}

h1 {
  text-align: center;
  font-family: Arial;
}
